.btn-search {
    background-color: rgb(88, 86, 214);
    color: white;
    border: none;
}

.btn-search:hover {
    background-color: rgb(65, 63, 216);
}

.btn-search:active {
    transform: scale(0.95);
    background-color: rgb(65, 63, 216);
}
.btn-add {
    background-color: rgb(4, 85, 237);
    color: white;
    border: none;
}

.btn-add:hover {
    background-color: rgb(21, 86, 206);
}

.btn-add:active {
    transform: scale(0.95);
    background-color: rgb(21, 86, 206);
}
.container {
    max-width: 1700px;
    margin: 0 auto;
}
.table td {
    vertical-align: middle;
    padding: 10px;
}
.table {
    background-color: #f8f9fa;
    border-collapse: collapse;
    width: 100%;
}

.table td {
    vertical-align: middle;
    padding: 15px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.table th {
    font-weight: bold;
    background-color: #e9ecef;
    color: #333;
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #007bff;
}

.table tr:hover td {
    background-color: #e9ecef;
}

.table td,
.table th {
    text-align: left;
}

.table td {
    color: #555;
}
table.table tr.status-v1:nth-child(even) td {
    background-color: white !important;
    color: black !important;
    transition: background-color 0.3s ease-in-out;
}

table.table tr.status-v1:nth-child(odd) td {
    background-color: #e6e6e6 !important;
    color: black !important;
    transition: background-color 0.3s ease-in-out;
}

table.table tr.status-v1:hover td {
    background-color: #d0d0d0 !important;
}
.pagination-button {
    background: none;
    border: none;
    color: rgb(88, 86, 214);
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-button:disabled {
    color: grey;
    cursor: not-allowed;
}

.pagination-button.active {
    background-color: rgb(88, 86, 214);
    color: white;
    border-radius: 5px;
}

.pagination-button:hover:not(.active) {
    background-color: rgba(13, 110, 253, 0.1);
}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}