<div class="user-info-container">
  <h5 class="title">{{ 'THONG_TIN_NHAN_VIEN' | translate }}</h5>

  <div *ngIf="userInfo; else noData" class="card">
    <div class="card-body">

      <div class="row">
        <div class="col-md-6 info-item">
          <label>Mã nhân viên</label>
          <span>{{ userInfo.officer_code || '-' }}</span>
        </div>

        <div class="col-md-6 info-item">
          <label>Tên nhân viên</label>
          <span class="name">{{ userInfo.officer_name || '-' }}</span>
        </div>

        <div class="col-md-6 info-item">
          <label>Ngày sinh</label>
          <span>{{ formatDate(userInfo.ngaysinh) }}</span>
        </div>

        <div class="col-md-6 info-item">
          <label>Giới tính</label>
          <span>{{ getGioiTinh(userInfo.gioitinh) }}</span>
        </div>

        <div class="col-md-6 info-item">
          <label>Số điện thoại</label>
          <span>{{ userInfo.phone || '-' }}</span>
        </div>

        <div class="col-md-6 info-item">
          <label>Email</label>
          <span>{{ userInfo.email || '-' }}</span>
        </div>

        <div class="col-md-6 info-item">
          <label>Địa chỉ</label>
          <span>{{ userInfo.diachi || '-' }}</span>
        </div>

        <div class="col-md-6 info-item">
          <label>CCCD</label>
          <span>{{ userInfo.cccd || '-' }}</span>
        </div>

        <div class="col-md-6 info-item">
          <label>Chức danh</label>
          <span>{{ userInfo.chuc_danh || userInfo.chucdanh || '-' }}</span>
        </div>

        <div class="col-md-6 info-item">
          <label>Mã bác sĩ</label>
          <span>{{ userInfo.ma_bac_si || '-' }}</span>
        </div>

      </div>

    </div>
  </div>

  <ng-template #noData>
    <p class="no-data">{{ 'KHONG_CO_DL' | translate }}</p>
  </ng-template>
</div>