<div class="user-info-container">
    <h5 class="text-center">{{'THONG_TIN_NHAN_VIEN'|translate}}</h5>
    <div *ngIf="userInfo; else noData">
        <div class="row">
            <div class="col-md-6">
                <p><strong>{{'MA_NV'|translate}}:</strong> {{ userInfo.USER_NAME || 'N/A' }}</p>
                <p><strong>{{'HO_TEN'|translate}}:</strong> {{ userInfo.FULL_NAME || 'N/A' }}</p>
                <p><strong>Ngày sinh:</strong> {{ userInfo.FULL_NAME || 'N/A' }}</p>
                <p><strong>Giới tính:</strong> {{ userInfo.FULL_NAME || 'N/A' }}</p>
                <p><strong>Địa chỉ:</strong> {{ userInfo.FULL_NAME || 'N/A' }}</p>
                <p><strong>SĐT:</strong> {{ userInfo.FULL_NAME || 'N/A' }}</p>
                <p><strong>CCCD:</strong> {{ userInfo.FULL_NAME || 'N/A' }}</p>



                <!-- <p><strong>{{'GIOI_TINH'|translate}}:</strong> {{ 'GT_' + removeVietnameseTones(userInfo.gioi_tinh.toUpperCase()) | translate }}</p> -->
            </div>
            <div class="col-md-6">
                <p><strong>{{ 'VI_TRI' | translate }}:</strong> {{ userInfo.vi_tri ? (userInfo.vi_tri | translate) : 'N/A' }}</p>
                <p><strong>{{'BO_PHAN'|translate}}:</strong> {{ userInfo.ten_bo_phan || 'N/A' }}</p>
                <p><strong>{{'CONG_VIEC'|translate}}:</strong> {{ userInfo.cong_viec || 'N/A' }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p><strong>{{'EMAIL'|translate}}:</strong> {{ userInfo.email || 'N/A'}}</p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <ng-template #noData>
        <p class="text-danger">{{'KHONG_CO_DL'|translate}}</p>
    </ng-template>
</div>
