<ng-container>
  <c-container [fluid]="true" class="app-header-bar">
    <div class="header-container">
      <button [cSidebarToggle]="sidebarId()" cHeaderToggler class="btn app-sidebar-toggle" toggle="visible"
        aria-label="Toggle sidebar navigation">
        <svg cIcon name="cilMenu" size="lg"></svg>
      </button>
      <span class="app-title">
        <span class="app-title-mark" aria-hidden="true"></span>
        {{ 'TITLE' | translate }}
      </span>
    </div>
    <div class="header-right">
      <span class="hospital-name">
        <svg cIcon name="cilHospital" class="hospital-icon me-2"></svg>
        <div class="user-name">
          <strong class="hospital-label">{{ tenbenhvien || 'Bệnh viện' }}</strong>
          <span class="user-label" *ngIf="tennguoidung">
            {{ tennguoidung }}
          </span>
        </div>
      </span>
    </div>
  </c-container>
  <c-container [fluid]="true" class="app-breadcrumb-bar">
    <app-breadcrumb-wrapper></app-breadcrumb-wrapper>
  </c-container>
</ng-container>


<ng-template #userDropdown>
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button [caret]="false" cDropdownToggle class="py-0 pe-0" aria-label="Open user menu">
      <c-avatar shape="rounded-1" [size]="'md'" src="./assets/images/avatars/8.jpg" status="success" textColor="primary"
        alt="User avatar" />
    </button>
  </c-dropdown>
</ng-template>

<ng-template #themeDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button [caret]="false" cDropdownToggle aria-label="Open theme picker">
      <svg cIcon [name]="icons()" size="lg"></svg>
    </button>
    <div cDropdownMenu>
      @for (mode of colorModes; track mode.name) {
      <button (click)="colorMode.set(mode.name)" [active]="colorMode()===mode.name" cDropdownItem
        class="d-flex align-items-center">
        <svg cIcon class="me-2" [name]="mode.icon" size="lg"></svg>
        {{ mode.text }}
      </button>
      }
    </div>
  </c-dropdown>
</ng-template>