<c-toaster placement="top-end" class="p-3">
  <c-toast
    *ngFor="let t of toasts"
    [visible]="t.visible"
    [color]="t.color"
    class="text-white"
  >
    <c-toast-body>
      {{ t.message }}
    </c-toast-body>
  </c-toast>
</c-toaster>
<div class="card">
  <div class="card-body">
    <div class="row g-2 align-items-end mb-3">
      <div class="col-auto">
        <label for="">Từ</label>
        <select2 class="form-control" [overlay]="false" placeholder=""
          [data]="dsThang" [styleMode]="'borderless'" [value]="tuThang" (update)="onTuThangChange($event)"
          id="tuThang" style="height: 38px; padding: 4px 0 0 0;">
        </select2>
      </div>

      <div class="col-auto">
        <select2 class="form-control" [overlay]="false" placeholder=""
          [data]="dsNam" [styleMode]="'borderless'" [value]="tuNam" (update)="onTuNamChange($event)"
          id="tuNam" style="height: 38px; padding: 4px 0 0 0;">
        </select2>
      </div>
      <div class="col-auto">
        <label for="">Đến</label>
        <select2 class="form-control" [overlay]="false" placeholder=""
          [data]="dsThang" [styleMode]="'borderless'" [value]="denThang" (update)="onDenThangChange($event)"
          id="denThang" style="height: 38px; padding: 4px 0 0 0;">
        </select2>
      </div>

      <div class="col-auto">
        <select2 class="form-control" [overlay]="false" placeholder=""
          [data]="dsNam" [styleMode]="'borderless'" [value]="denNam" (update)="onDenNamChange($event)"
          id="denNam" style="height: 38px; padding: 4px 0 0 0;">
        </select2>
      </div>
      <div class="col-auto">
        <label for="">Loại báo cáo</label>
        <select2 class="form-control" [overlay]="false" placeholder=""
          [data]="officerTypeOptions" [styleMode]="'borderless'" [value]="loaiBaoCao" (update)="onLoaiBaoCaoChange($event)"
          id="loaiBaoCao" style="height: 38px; padding: 4px 0 0 0;">
        </select2>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary w-100" (click)="loadData()" [disabled]="loading">
          <span *ngIf="!loading">Xem báo cáo</span>
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>

      <div class="col-auto">
        <button class="btn btn-primary w-100" (click)="exportExcel()" [disabled]="loading">
          <span *ngIf="!loadingExcel">Xuất Excel</span>
          <span *ngIf="loadingExcel" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="row">
      <h6>{{tenBenhVien}}</h6>
    </div>
    <div class="text-center">
      <h5><b>BẢNG TỔNG HỢP {{loaiBaoCao=='BAC_SI' ? 'BÁC SỸ' : 'ĐIỀU DƯỠNG'}} - DƯỢC SỸ THỰC HIỆN CHỈ TIÊU KẾ HOẠCH KCB <br> {{tieuDeMoRong}}</b></h5>
    </div>
    <div class="row">
            <div class="col-md-12">
                <div class="table-responsive" style="max-height: calc(100vh - 150px);">
                    <table class="table" *ngIf="loaiBaoCao=='BAC_SI'" style="width: 2100px;">
                        <thead>
                            <tr>
                                <th class="text-center first-row" rowspan="2" style="width: 80px;"><span>{{'STT'|translate}}</span></th>
                                <th class="text-center first-row" rowspan="2" style="width: 200px;"><span>{{'BC_DIEM_CTKH.KHOA_BAC_SY'|translate}}</span></th>
                                <th class="text-center first-row" rowspan="2" style="width: 100px;"><span>{{'BC_DIEM_CTKH.DIEM_KE_HOACH'|translate}}</span></th>
                                <th class="text-center first-row" rowspan="2" style="width: 100px;"><span>{{'BC_DIEM_CTKH.DIEM_TH_CLS'|translate}}</span></th>
                                <th class="text-center first-row" rowspan="2" style="width: 120px;"><span>{{'BC_DIEM_CTKH.DIEM_CD_KHAM'|translate}}</span></th>
                                <th class="text-center first-row" rowspan="2" style="width: 120px;"><span>{{'BC_DIEM_CTKH.DIEM_CD_NHAPVIEN'|translate}}</span></th>
                                <th class="text-center first-row" colspan="2" style="width: 200px;"><span>{{'BC_DIEM_CTKH.PTT'|translate}}</span></th>
                                <th class="text-center first-row" rowspan="2" style="width: 100px;"><span>{{'BC_DIEM_CTKH.DIEM_TANGCUONG'|translate}}</span></th>
                                <th class="text-center first-row" rowspan="2" style="width: 80px;"><span>{{'BC_DIEM_CTKH.DIEM_TRUC'|translate}}</span></th>
                                <th class="text-center first-row" rowspan="2" style="width: 120px;"><span>{{'BC_DIEM_CTKH.DIEM_CONG_BANT'|translate}}</span></th>
                                <th class="text-center first-row" rowspan="2" style="width: 120px;"><span>{{'BC_DIEM_CTKH.DIEM_PTT_THEO_DIEU_DUONG'|translate}}</span></th>
                                <th class="text-center first-row" colspan="3" style="width: 210px;"><span>{{'BC_DIEM_CTKH.DIEM_BNND'|translate}}</span></th>
                                <th class="text-center first-row" rowspan="2" style="width: 120px;"><span>{{'BC_DIEM_CTKH.DIEM_TONG'|translate}}</span></th>
                                <th class="text-center first-row" rowspan="2" style="width: 100px;"><span>{{'BC_DIEM_CTKH.KHOA_CHIA_LAI_DIEM'|translate}}</span></th>
                                <th class="text-center first-row" rowspan="2" style="width: 100px;"><span>{{'BC_DIEM_CTKH.DAT_CTKH_BS'|translate}}</span></th>
                                <th class="text-center first-row" colspan="3" style="width: 300px;"><span>{{'BC_DIEM_CTKH.TONG_CONG_CHUNG_CA_KHOA'|translate}}</span></th>
                            </tr>
                            <tr>
                              <th class="text-center second-row"><span>{{'BC_DIEM_CTKH.CHI_DINH' | translate}}x0.2</span></th>
                              <th class="text-center second-row"><span>{{'BC_DIEM_CTKH.THUC_HIEN' | translate}}x0.8</span></th>
                              <th class="text-center second-row"><span>{{'BC_DIEM_CTKH.CHI_DINH' | translate}}</span></th>
                              <th class="text-center second-row"><span>{{'BC_DIEM_CTKH.THUC_HIEN' | translate}}</span></th>
                              <th class="text-center second-row"><span>{{'BC_DIEM_CTKH.DIEM_CD_NHAPVIEN' | translate}}</span></th>
                              <th class="text-center second-row"><span>{{'BC_DIEM_CTKH.DIEM_KH' | translate}}</span></th>
                              <th class="text-center second-row"><span>{{'BC_DIEM_CTKH.TONG_DIEM_TH' | translate}}</span></th>
                              <th class="text-center second-row"><span>{{'BC_DIEM_CTKH.DAT_CTKH' | translate}}</span></th>
                            </tr>
                            <tr>
                              <th class="italic text-center third-row" >A</th>
                              <th class="italic text-center third-row" >B</th>
                              <th class="italic text-center third-row">1</th>
                              <th class="italic text-center third-row">2</th>
                              <th class="italic text-center third-row">3</th>
                              <th class="italic text-center third-row">4</th>
                              <th class="italic text-center third-row">5</th>
                              <th class="italic text-center third-row">6</th>
                              <th class="italic text-center third-row">7</th>
                              <th class="italic text-center third-row">8</th>
                              <th class="italic text-center third-row">9</th>
                              <th class="italic text-center third-row">10</th>
                              <th class="italic text-center third-row">11</th>
                              <th class="italic text-center third-row">12</th>
                              <th class="italic text-center third-row">13</th>
                              <th class="italic text-center third-row">14 = 2+...+13</th>
                              <th class="italic text-center third-row">15</th>
                              <th class="italic text-center third-row">16=15/1</th>
                              <th class="italic text-center third-row">32=1+17</th>
                              <th class="italic text-center third-row">33=14+29</th>
                              <th class="italic text-center third-row">34=33/32</th>
                            </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let item of dsDiemCtkhBS; let i = index">
                             <tr *ngIf="item.type === 'group'" class="table-secondary fw-bold">
                                  <td class="text-center bold">{{ item.stt }}</td>
                                  <td class="bold">{{ item.khoa }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemKeHoach) == item.diemKeHoach ? Math.trunc(item.diemKeHoach) : Math.round(item.diemKeHoach * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTHCLS) == item.diemTHCLS ? Math.trunc(item.diemTHCLS) : Math.round(item.diemTHCLS * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemCdKham) == item.diemCdKham ? Math.trunc(item.diemCdKham) : Math.round(item.diemCdKham * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemCDDieuTri) == item.diemCDDieuTri ? Math.trunc(item.diemCDDieuTri) : Math.round(item.diemCDDieuTri * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemPTTCD) == item.diemPTTCD ? Math.trunc(item.diemPTTCD) : Math.round(item.diemPTTCD * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemPTTTH) == item.diemPTTTH ? Math.trunc(item.diemPTTTH) : Math.round(item.diemPTTTH * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTangCuong) == item.diemTangCuong ? Math.trunc(item.diemTangCuong) : Math.round(item.diemTangCuong * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTruc) == item.diemTruc ? Math.trunc(item.diemTruc) : Math.round(item.diemTruc * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemCongBANT) == item.diemCongBANT ? Math.trunc(item.diemCongBANT) : Math.round(item.diemCongBANT * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTHPTTTheoDD) == item.diemTHPTTTheoDD ? Math.trunc(item.diemTHPTTTheoDD) : Math.round(item.diemTHPTTTheoDD * 10) / 10 }}</td>
                                  <td class="text-end bold">{{Math.trunc(item.diemBNNDCD) == item.diemBNNDCD ? Math.trunc(item.diemBNNDCD) : Math.round(item.diemBNNDCD * 10) / 10}}</td>
                                  <td class="text-end bold">{{Math.trunc(item.diemBNNDTH) == item.diemBNNDTH ? Math.trunc(item.diemBNNDTH) : Math.round(item.diemBNNDTH * 10) / 10}} </td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemBNNDCDNhapVien) == item.diemBNNDCDNhapVien ? Math.trunc(item.diemBNNDCDNhapVien) : Math.round(item.diemBNNDCDNhapVien * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.tongCong) == item.tongCong ? Math.trunc(item.tongCong) : Math.round(item.tongCong * 10) / 10 }}</td>
                                  <td class="text-end bold"></td>
                                  <td class="text-end bold">{{ Math.trunc(item.datCtkh) == item.datCtkh ? Math.trunc(item.datCtkh) : Math.round(item.datCtkh * 10) / 10 }}%</td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                                <tr *ngIf="item.type === 'grandTotal'" class="table-primary fw-bold">
                                  <td class="text-center bold"></td>
                                  <td class="bold">Tổng cộng</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemKeHoach) == item.diemKeHoach ? Math.trunc(item.diemKeHoach) : Math.round(item.diemKeHoach * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTHCLS) == item.diemTHCLS ? Math.trunc(item.diemTHCLS) : Math.round(item.diemTHCLS * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemCdKham) == item.diemCdKham ? Math.trunc(item.diemCdKham) : Math.round(item.diemCdKham * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemCDDieuTri) == item.diemCDDieuTri ? Math.trunc(item.diemCDDieuTri) : Math.round(item.diemCDDieuTri * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemPTTCD) == item.diemPTTCD ? Math.trunc(item.diemPTTCD) : Math.round(item.diemPTTCD * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemPTTTH) == item.diemPTTTH ? Math.trunc(item.diemPTTTH) : Math.round(item.diemPTTTH * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTangCuong) == item.diemTangCuong ? Math.trunc(item.diemTangCuong) : Math.round(item.diemTangCuong * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTruc) == item.diemTruc ? Math.trunc(item.diemTruc) : Math.round(item.diemTruc * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemCongBANT) == item.diemCongBANT ? Math.trunc(item.diemCongBANT) : Math.round(item.diemCongBANT * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTHPTTTheoDD) == item.diemTHPTTTheoDD ? Math.trunc(item.diemTHPTTTheoDD) : Math.round(item.diemTHPTTTheoDD * 10) / 10 }}</td>
                                  <td class="text-end bold">{{Math.trunc(item.diemBNNDCD) == item.diemBNNDCD ? Math.trunc(item.diemBNNDCD) : Math.round(item.diemBNNDCD * 10) / 10}}</td>
                                  <td class="text-end bold">{{Math.trunc(item.diemBNNDTH) == item.diemBNNDTH ? Math.trunc(item.diemBNNDTH) : Math.round(item.diemBNNDTH * 10) / 10}} </td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemBNNDCDNhapVien) == item.diemBNNDCDNhapVien ? Math.trunc(item.diemBNNDCDNhapVien) : Math.round(item.diemBNNDCDNhapVien * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.tongCong) == item.tongCong ? Math.trunc(item.tongCong) : Math.round(item.tongCong * 10) / 10 }}
                                  <td class="text-end bold"></td>
                                  <td class="text-end bold">{{ Math.trunc(item.datCtkh) == item.datCtkh ? Math.trunc(item.datCtkh) : Math.round(item.datCtkh*10)/10 }}%</td>
                                  <td class="text-end">{{ Math.trunc(item.tongDiemKH??0) == item.tongDiemKH ? Math.trunc(item.tongDiemKH??0) : Math.round((item.tongDiemKH??0) * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.tongDiemTH??0) == item.tongDiemTH ? Math.trunc(item.tongDiemTH??0) : Math.round((item.tongDiemTH??0) * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.datCtkhTong??0) == item.datCtkhTong ? Math.trunc(item.datCtkhTong??0) : Math.round((item.datCtkhTong??0) * 10) / 10 }}%</td>
                                </tr>
                                <tr *ngIf="item.type === 'item'">
                                  <td class="text-center">{{ item.stt }}</td>
                                  <td>{{ item.officerType == 4 ? 'BS:' : 'ĐD:' }}{{ item.officerName }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemKeHoach) == item.diemKeHoach ? Math.trunc(item.diemKeHoach) : Math.round(item.diemKeHoach * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTHCLS) == item.diemTHCLS ? Math.trunc(item.diemTHCLS) : Math.round(item.diemTHCLS * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemCdKham) == item.diemCdKham ? Math.trunc(item.diemCdKham) : Math.round(item.diemCdKham * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemCDDieuTri) == item.diemCDDieuTri ? Math.trunc(item.diemCDDieuTri) : Math.round(item.diemCDDieuTri * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemPTTCD) == item.diemPTTCD ? Math.trunc(item.diemPTTCD) : Math.round(item.diemPTTCD * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemPTTTH) == item.diemPTTTH ? Math.trunc(item.diemPTTTH) : Math.round(item.diemPTTTH * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemTangCuong) == item.diemTangCuong ? Math.trunc(item.diemTangCuong) : Math.round(item.diemTangCuong * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemTruc) == item.diemTruc ? Math.trunc(item.diemTruc) : Math.round(item.diemTruc * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemCongBANT) == item.diemCongBANT ? Math.trunc(item.diemCongBANT) : Math.round(item.diemCongBANT * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemTHPTTTheoDD) == item.diemTHPTTTheoDD ? Math.trunc(item.diemTHPTTTheoDD) : Math.round(item.diemTHPTTTheoDD * 10) / 10 }}</td>
                                  <td class="text-end">{{Math.trunc(item.diemBNNDCD) == item.diemBNNDCD ? Math.trunc(item.diemBNNDCD) : Math.round(item.diemBNNDCD * 10) / 10}}</td>
                                  <td class="text-end">{{Math.trunc(item.diemBNNDTH) == item.diemBNNDTH ? Math.trunc(item.diemBNNDTH) : Math.round(item.diemBNNDTH * 10) / 10}} </td>
                                  <td class="text-end">{{ Math.trunc(item.diemBNNDCDNhapVien) == item.diemBNNDCDNhapVien ? Math.trunc(item.diemBNNDCDNhapVien) : Math.round(item.diemBNNDCDNhapVien * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.tongCong) == item.tongCong ? Math.trunc(item.tongCong) : Math.round(item.tongCong * 10) / 10 }}</td>
                                  <td class="text-end"></td>
                                  <td class="text-end">{{ Math.trunc(item.datCtkh) == item.datCtkh ? Math.trunc(item.datCtkh) : Math.round(item.datCtkh * 10) / 10 }}%</td>
                                  <td *ngIf="i>=1 && dsDiemCtkhBS[i-1].type=='group'" [attr.rowspan]="(dsDiemCtkhBS[i-1].tongBS??1)" class="text-end">{{ Math.trunc(dsDiemCtkhBS[i-1].tongDiemKH??0) == dsDiemCtkhBS[i-1].tongDiemKH ? Math.trunc(dsDiemCtkhBS[i-1].tongDiemKH??0) : Math.round((dsDiemCtkhBS[i-1].tongDiemKH??0) * 10) / 10 }}</td>
                                  <td *ngIf="i>=1 && dsDiemCtkhBS[i-1].type=='group'" [attr.rowspan]="(dsDiemCtkhBS[i-1].tongBS??1)" class="text-end">{{ Math.trunc(dsDiemCtkhBS[i-1].tongDiemTH??0) == dsDiemCtkhBS[i-1].tongDiemTH ? Math.trunc(dsDiemCtkhBS[i-1].tongDiemTH??0) : Math.round((dsDiemCtkhBS[i-1].tongDiemTH??0) * 10) / 10 }}</td>
                                  <td *ngIf="i>=1 && dsDiemCtkhBS[i-1].type=='group'" [attr.rowspan]="(dsDiemCtkhBS[i-1].tongBS??1)" class="text-end">{{ Math.trunc(dsDiemCtkhBS[i-1].datCtkhTong??0) == dsDiemCtkhBS[i-1].datCtkhTong ? Math.trunc(dsDiemCtkhBS[i-1].datCtkhTong??0) : Math.round((dsDiemCtkhBS[i-1].datCtkhTong??0) * 10) / 10 }}%</td>
                                                                  </tr>
                          </ng-container>
                        </tbody>
                    </table>
                    <table class="table" *ngIf="loaiBaoCao=='DIEU_DUONG'" style="width: 1700px;">
                        <thead>
                            <tr>
                                <th class="text-center first-row" rowspan="2" style="width: 80px;">{{'STT'|translate}}</th>
                                <th class="text-center first-row" rowspan="2" style="width: 200px;">{{'BC_DIEM_CTKH.DIEU_DUONG'|translate}}</th>
                                <th class="text-center first-row" rowspan="2" style="width: 100px;">{{'BC_DIEM_CTKH.DIEM_KE_HOACH'|translate}}</th>
                                <th class="text-center first-row" rowspan="2" style="width: 120px;">{{'BC_DIEM_CTKH.DIEM_TH_THEO_BS'|translate}}</th>
                                <th class="text-center first-row" colspan="2" style="width: 120px;">{{'BC_DIEM_CTKH.DI_TANG_CUONG'|translate}}</th>
                                <th class="text-center first-row" colspan="2" style="width: 200px;">{{'BC_DIEM_CTKH.KHOA_DUOC_TC'|translate}}</th>
                                <th class="text-center first-row" rowspan="2" style="width: 100px;">{{'BC_DIEM_CTKH.DIEM_LAYMAU'|translate}}</th>
                                <th class="text-center first-row" rowspan="2" style="width: 100px;">{{'BC_DIEM_CTKH.DIEM_CONG_THEO_BS_DIENTIM_CLS'|translate}}</th>
                                <th class="text-center first-row" rowspan="2" style="width: 80px;">{{'BC_DIEM_CTKH.DIEM_TRUC'|translate}}</th>
                                <th class="text-center first-row" rowspan="2" style="width: 120px;">{{'BC_DIEM_CTKH.DIEM_TH_TT1_DD'|translate}}</th>
                                <th class="text-center first-row" colspan="2" style="width: 160px;">{{'BC_DIEM_CTKH.DIEM_BNND'|translate}}</th>
                                <th class="text-center first-row" rowspan="2" style="width: 120px;">{{'BC_DIEM_CTKH.DIEM_TONG'|translate}}</th>
                                <th class="text-center first-row" rowspan="2" style="width: 100px;">{{'BC_DIEM_CTKH.KHOA_CHIA_LAI_DIEM'|translate}}</th>
                                <th class="text-center first-row" rowspan="2" style="width: 100px;">{{'BC_DIEM_CTKH.DAT_CTKH_DD'|translate}}</th>
                            </tr>
                            <tr>
                              <th class="text-center second-row-dd">{{'BC_DIEM_CTKH.SO_NGAY' | translate}}</th>
                              <th class="text-center second-row-dd">{{'BC_DIEM_CTKH.TONG_DIEM' | translate}}</th>
                              <th class="text-center second-row-dd">{{'BC_DIEM_CTKH.SO_NGAY_DUOC_TC' | translate}}</th>
                              <th class="text-center second-row-dd">{{'BC_DIEM_CTKH.DIEM_TRU' | translate}}</th>
                              <th class="text-center second-row-dd">{{'BC_DIEM_CTKH.THEO_BS' | translate}}</th>
                              <th class="text-center second-row-dd">{{'BC_DIEM_CTKH.THEO_BN_NHAPVIEN' | translate}}</th>
                            </tr>
                            <tr>
                              <th class="italic text-center third-row-dd" >C</th>
                              <th class="italic text-center third-row-dd" >D</th>
                              <th class="italic text-center third-row-dd">17</th>
                              <th class="italic text-center third-row-dd">18=2+...+6<br>=2+...+5(TN)</th>
                              <th class="italic text-center third-row-dd">19</th>
                              <th class="italic text-center third-row-dd">20</th>
                              <th class="italic text-center third-row-dd">21</th>
                              <th class="italic text-center third-row-dd">22</th>
                              <th class="italic text-center third-row-dd">23</th>
                              <th class="italic text-center third-row-dd">24</th>
                              <th class="italic text-center third-row-dd">25</th>
                              <th class="italic text-center third-row-dd">26</th>
                              <th class="italic text-center third-row-dd">27</th>
                              <th class="italic text-center third-row-dd">28</th>
                              <th class="italic text-center third-row-dd">29=18+...+28</th>
                              <th class="italic text-center third-row-dd">30</th>
                              <th class="italic text-center third-row-dd">31=29/17</th>
                            </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let item of dsDiemCtkhDD; let i = index">
                             <tr *ngIf="item.type === 'group'" class="table-secondary fw-bold">
                                  <td class="text-center bold">{{ item.stt }}</td>
                                  <td class="bold">{{ item.khoa }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemKeHoach) == item.diemKeHoach ? Math.trunc(item.diemKeHoach) : Math.round(item.diemKeHoach * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTHTheoBS || 0) == item.diemTHTheoBS ? Math.trunc(item.diemTHTheoBS) : Math.round((item.diemTHTheoBS || 0) * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.soNgayTangCuong || 0) == item.soNgayTangCuong ? Math.trunc(item.soNgayTangCuong) : Math.round((item.soNgayTangCuong||0) * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTangCuong) == item.diemTangCuong ? Math.trunc(item.diemTangCuong) : Math.round(item.diemTangCuong * 10) / 10 }}</td>
                                  <td class="text-end bold"></td>
                                  <td class="text-end bold"></td>
                                  <td class="text-end bold"></td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTHCLS) == item.diemTHCLS ? Math.trunc(item.diemTHCLS) : Math.round(item.diemTHCLS * 10) / 10 }}</td>
                                  <td class="text-end bold">{{Math.trunc(item.diemTruc) == item.diemTruc ? Math.trunc(item.diemTruc) : Math.round(item.diemTruc * 10) / 10}}</td>
                                  <td class="text-end bold">{{Math.trunc(item.diemPTTTH/0.8) == item.diemPTTTH/0.8 ? Math.trunc(item.diemPTTTH/0.8) : Math.round((item.diemPTTTH/0.8) * 10) / 10}}</td>
                                  <td class="text-end bold">{{Math.trunc(item.diemBNNDTheoBs || 0) == item.diemBNNDTheoBs ? Math.trunc(item.diemBNNDTheoBs) : Math.round((item.diemBNNDTheoBs || 0) * 10) / 10}}</td>
                                  <td class="text-end bold"></td>
                                  <td class="text-end bold">{{ Math.trunc(item.tongCong) == item.tongCong ? Math.trunc(item.tongCong) : Math.round(item.tongCong * 10) / 10 }}</td>
                                  <td class="text-end bold"></td>
                                  <td class="text-end bold">{{ Math.trunc(item.datCtkh) == item.datCtkh ? Math.trunc(item.datCtkh) : Math.round(item.datCtkh * 10) / 10 }}%</td>
                                </tr>
                                <tr *ngIf="item.type === 'grandTotal'" class="table-primary fw-bold">
                                  <td class="text-center bold"></td>
                                  <td class="bold">Tổng cộng</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemKeHoach) == item.diemKeHoach ? Math.trunc(item.diemKeHoach) : Math.round(item.diemKeHoach * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTHTheoBS || 0) == item.diemTHTheoBS ? Math.trunc(item.diemTHTheoBS) : Math.round((item.diemTHTheoBS || 0) * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.soNgayTangCuong || 0) == item.soNgayTangCuong ? Math.trunc(item.soNgayTangCuong) : Math.round((item.soNgayTangCuong || 0) * 10) / 10 }}</td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTangCuong) == item.diemTangCuong ? Math.trunc(item.diemTangCuong) : Math.round(item.diemTangCuong * 10) / 10 }}</td>
                                  <td class="text-end bold"></td>
                                  <td class="text-end bold"></td>
                                  <td class="text-end bold"></td>
                                  <td class="text-end bold">{{ Math.trunc(item.diemTHCLS) == item.diemTHCLS ? Math.trunc(item.diemTHCLS) : Math.round(item.diemTHCLS * 10) / 10 }}</td>
                                  <td class="text-end bold">{{Math.trunc(item.diemTruc) == item.diemTruc ? Math.trunc(item.diemTruc) : Math.round(item.diemTruc * 10) / 10}}</td>
                                  <td class="text-end bold">{{Math.trunc(item.diemPTTTH/0.8) == item.diemPTTTH/0.8 ? Math.trunc(item.diemPTTTH/0.8) : Math.round((item.diemPTTTH/0.8) * 10) / 10}}</td>
                                  <td class="text-end bold">{{Math.trunc(item.diemBNNDTheoBs || 0) == item.diemBNNDTheoBs ? Math.trunc(item.diemBNNDTheoBs) : Math.round((item.diemBNNDTheoBs || 0) * 10) / 10}}</td>
                                  <td class="text-end bold"></td>
                                  <td class="text-end bold">{{ Math.trunc(item.tongCong) == item.tongCong ? Math.trunc(item.tongCong) : Math.round(item.tongCong * 10) / 10 }}</td>
                                  <td class="text-end bold"></td>
                                  <td class="text-end bold">{{ item.datCtkh.toFixed(1) }}%</td>
                                </tr>
                                <tr *ngIf="item.type === 'item'">
                                  <td class="text-center">{{ item.stt }}</td>
                                  <td>{{ item.officerType == 4 ? 'BS:' : 'ĐD:' }}{{ item.officerName }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemKeHoach) == item.diemKeHoach ? Math.trunc(item.diemKeHoach) : Math.round(item.diemKeHoach*10)/10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemTHTheoBS || 0) == item.diemTHTheoBS ? Math.trunc(item.diemTHTheoBS) : Math.round((item.diemTHTheoBS || 0) * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.soNgayTangCuong || 0) == item.soNgayTangCuong ? Math.trunc(item.soNgayTangCuong) : Math.round((item.soNgayTangCuong || 0) * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemTangCuong) == item.diemTangCuong ? Math.trunc(item.diemTangCuong) : Math.round(item.diemTangCuong * 10) / 10 }}</td>
                                  <td class="text-end"></td>
                                  <td class="text-end"></td>
                                  <td class="text-end"></td>
                                  <td class="text-end">{{ Math.trunc(item.diemTHCLS) == item.diemTHCLS ? Math.trunc(item.diemTHCLS) : Math.round(item.diemTHCLS * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemTruc) == item.diemTruc ? Math.trunc(item.diemTruc) : Math.round(item.diemTruc * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc((item.diemPTTTH/0.8)) == (item.diemPTTTH/0.8) ? Math.trunc((item.diemPTTTH/0.8)) : Math.round((item.diemPTTTH/0.8) * 10) / 10 }}</td>
                                  <td class="text-end">{{ Math.trunc(item.diemBNNDTheoBs || 0) == item.diemBNNDTheoBs ? Math.trunc(item.diemBNNDTheoBs) : Math.round((item.diemBNNDTheoBs || 0) * 10) / 10 }}</td>
                                  <td class="text-end"></td>
                                  <td class="text-end">{{ Math.trunc(item.tongCong) == item.tongCong ? Math.trunc(item.tongCong) : Math.round(item.tongCong * 10) / 10 }}</td>
                                  <td class="text-end"></td>
                                  <td class="text-end">{{ Math.trunc(item.datCtkh) == item.datCtkh ? Math.trunc(item.datCtkh) : Math.round(item.datCtkh * 10) / 10 }}%</td>
                                </tr>
                          </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
    
  </div>
</div>
