:host {
  .ng-scrollbar {
    --scrollbar-padding: 1px;
    --scrollbar-size: 5px;
    --scrollbar-thumb-color: var(--cui-gray-500, #999);
    --scrollbar-thumb-hover-color: var(--cui-gray-400, #999);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
}

:host ::ng-deep .sidebar .nav-link,
:host ::ng-deep .sidebar .nav-group-toggle {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  line-height: 1.4;
  height: auto !important;

  display: flex;
  align-items: flex-start;
  gap: 8px;
}

:host ::ng-deep .sidebar .nav-icon {
  flex-shrink: 0;
}

// :host ::ng-deep .sidebar {
//   width: 280px;
// }

:host ::ng-deep .sidebar .nav-link span,
:host ::ng-deep .sidebar .nav-group-toggle span {
  display: inline-block;
  white-space: normal;
  word-break: break-word;
}

// ng-scrollbar css variables
//.cui-scrollbar {
//  --scrollbar-border-radius: 7px;
//  --scrollbar-padding: 1px;
//  --scrollbar-viewport-margin: 0;
//  --scrollbar-track-color: transparent;
//  --scrollbar-wrapper-color: transparent;
//  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
//  --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color);
//  --scrollbar-size: 5px;
//  --scrollbar-hover-size: var(--scrollbar-size);
//  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
//  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
//}
