:host {
  .ng-scrollbar {
    --scrollbar-padding: 1px;
    --scrollbar-size: 5px;
    --scrollbar-thumb-color: var(--cui-gray-500, #999);
    --scrollbar-thumb-hover-color: var(--cui-gray-400, #999);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
}

:host ::ng-deep .sidebar .nav-link,
:host ::ng-deep .sidebar .nav-group-toggle {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  line-height: 1.4;
  height: auto !important;

  display: flex;
  align-items: flex-start;
  gap: 8px;
}

:host ::ng-deep .sidebar .nav-icon {
  flex-shrink: 0;
}

:host ::ng-deep .sidebar .nav-link span,
:host ::ng-deep .sidebar .nav-group-toggle span {
  display: inline-block;
  white-space: normal;
  word-break: break-word;
}

// chỉnh kích thước slidebar
.sidebar {
  --cui-sidebar-width: 330px;
}

.wrapper {
  padding-left: 330px;
}

.sidebar:not(.show) ~ .wrapper {
  padding-left: 0;
}

@media (max-width: 991px) {
  .wrapper {
    padding-left: 0;
  }
}